@import "./display.scss";

$tsl-1: #154074;
$tsl-2: #37669F;
$tsl-3-dark: #01224B;
$tsl-4: #6793C9;
$tsl-5: #A5C9F4;

$white: #FFF;
$black-transparent: rgb(0 0 0 / 68%);
$inputColor: #A0A0A0;
$hoverColor: #00000017;
$selectColor: #cfe1fbe8;
$activeSelectedColor: #a7b6ca;
$activeSimpleColor: #00000025;
$selectedBgColor: rgba(207, 225, 251, .91);

$hoverColorBurger: #c9c9c9;
$activeColorBurger: #e9efe3;
